/* font-family: 'Quicksand', sans-serif;
font-family: 'Roboto', sans-serif; */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-size: 62.5%;
    --background-headers: hsl(20,82%,96%);
    --primary-color: hsl(21, 83%, 58%);
    --button-hover:hsl(21, 78%, 42%);
}

html{
    scroll-behavior: smooth;
}

html, body{
    width: 100%;
    height: 100%;
}

body{
    text-align: center;
    background: #FFFFFF;
    font-family: 'Roboto', sans-serif;
}

.wrapper{
    margin-inline: auto;
    padding-inline: 2rem;
    width: min(50rem,100%);
}

ul{
    list-style: none;
}

img{
    max-width: 100%;
}
/* ============ NAVIGATION =================== */
nav{
    display: flex;
    height: 7.5rem;
    /* position: fixed; */
    top: 0;
    width: 100vw;
    z-index: 100;
}

nav .wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .logo img{
    width: 5.5rem;
    border:none;
    border-radius: 0.5rem;
}

nav.scroll{
    background: var(--primary-color);
}

nav.scroll .open-menu svg path {
    stroke: #FFFFFF;
}

/* ================= TOPO ================= */
header#main-header{
    background-color: var(--background-headers);
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #725C5C;
    padding-block: 1rem;
    width: 100vw;
}

header #content p{
    font-size: 1.2rem;
}

header #content h3{
    font-weight: 400;
    font-style: normal;
    font-size: 2.2rem;
}

#user-settings{
    width: 100vw;
    background-color: var(--background-headers);
    color: #333333;
    border-top: 0.5px solid white;
}

#user-settings .wrapper{
    padding-block: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wrapper #lang{
    display: flex;
    flex-direction: row;
    border: 1px solid #CCCCCC;
    border-radius: 0.3rem;
    width: 9.7rem;
    justify-content: center;
    background-color: var(--background-headers);
    height: fit-content;
}

.wrapper #lang select{
    background: url('assets/dropdown.png');
    background-color: var(--background-headers);
    background-repeat: no-repeat;
    padding-right: 1.5rem;
    background-position-x: 5.5rem;
    background-position-y: center;
    font-family: 'Quicksand', sans-serif;
    font-size: 1.4rem;

    line-height: 1.7rem;
    border: none;
    appearance: none;
    width: fit-content;
}

.wrapper #user{
    
    display: grid;
    grid-template-areas: 'A C'
                        'B C';
    width: fit-content;
    font-family: 'Quicksand', sans-serif;
}

.wrapper #user p:nth-child(1){
    grid-area: A;
    text-align: right;
    font-size: 1.2rem;
}

.wrapper #user p + p{
    grid-area: B;
    font-size: 1rem;
}

.wrapper #user #avatar{
    grid-area: C;
    display: flex;
    justify-content: right;
}

.wrapper #user #avatar svg:nth-child(1){
    position: relative;
}

.wrapper #user #avatar svg+svg{
    position: absolute;
    
}

/* =================== video area======================= */

/* =======header========= */

#presentation header{
    color: var(--primary-color);
    border-bottom: 1px solid var(--background-headers);
    padding-block:1rem;
}

/* ==========buttons=========== */

#presentation .wrapper h3{
    margin-bottom: 1rem;
}

#presentation #buttons{
    display: flex;
    gap: 0.5rem;
    justify-content: center;
}

#presentation #buttons button, #presentation #buttons a:nth-child(1) {
    background: var(--primary-color);
    border: none;
    padding: 0.6rem 1.2rem;
    border-radius: 0.4rem;
    cursor: pointer;
}

#presentation #buttons button:hover{
    background: var(--button-hover);
}

#presentation #buttons button:active{
    opacity: 0.7;
}

#presentation #buttons #download{
    display: flex;
    width: fit-content;
    align-items: center;
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.875rem;
}

#presentation #buttons #favorite.fav > svg path{
    fill: yellow;
}

#presentation #buttons #cite{
    text-decoration: none;
    color: var(--primary-color);
    font-weight: 500;
    font-size: 1rem;
    line-height: 2.5rem;
    text-transform: uppercase;
}

#presentation #buttons #cite:hover{
    color: var(--button-hover);
}

#presentation #buttons #cite:active{
    opacity: 0.7;
}
/* =========== video =========== */


#video .video-content img:nth-of-type(2){
    position: relative;

}

.video-content #video-info{
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 100;
    color: #FFFFFF;
    padding: 2rem 1rem;
    text-align: left;
    justify-content: space-between;
    max-width: 48rem;
}

#video #author{
    display: grid;
    grid-template-areas: "A B";
    align-items: center;
    gap:1.7rem;
    width: fit-content;
}

#video #author img{
    grid-area: A;
    border-radius: 50%;
    width: 4rem;
}



#video #author #info{
    display: flex;
    flex-direction: column;
    text-align: left;
    grid-area: B;
    width: fit-content;
}