/* font-family: 'Quicksand', sans-serif;
font-family: 'Roboto', sans-serif; */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-size: 62.5%;
    --background-headers: hsl(20,82%,96%);
    --primary-color: hsl(21, 83%, 58%);
}

html{
    scroll-behavior: smooth;
}

html, body{
    width: 100%;
    height: 100%;
}

body{
    text-align: center;
    background: #FFFFFF;
}

.wrapper{
    margin-inline: auto;
    padding-inline: 2rem;
    width: min(50rem,100%);
}

ul{
    list-style: none;
}

img{
    max-width: 100%;
}
/* ============ NAVIGATION =================== */
nav{
    display: flex;
    height: 7.5rem;
    /* position: fixed; */
    top: 0;
    width: 100vw;
    z-index: 100;
}

nav .wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .logo img{
    width: 5.5rem;
    border:none;
    border-radius: 0.5rem;
}

nav.scroll{
    background: var(--primary-color);
}

nav.scroll .open-menu svg path {
    stroke: #FFFFFF;
}

/* ================= TOPO ================= */
header{
    background-color: var(--background-headers);
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
}

header #content p{
    font-size: 1.2rem;
}

header #content h3{
    font-weight: 400;
    font-style: normal;
    font-size: 2.2rem;
}

#user-settings .wrapper{
    background-color: var(--background-headers);
    display: flex;
    justify-content: space-between;
    width: 100vw;
}

.wrapper #lang{
    display: flex;
    flex-direction: row;
    border: 1px solid #CCCCCC;
    border-radius: 0.3rem;
    width: 9.7rem;
    justify-content: center;
    background-color: var(--background-headers)
}

.wrapper #lang select{
    background: url('assets/dropdown.png');
    background-color: var(--background-headers);
    background-repeat: no-repeat;
    padding-right: 1.5rem;
    background-position-x: 5.5rem;
    background-position-y: center;
    font-family: 'Quicksand', sans-serif;
    font-size: 1.4rem;
    color: #333333;
    line-height: 1.7rem;
    border: none;
    appearance: none;
    width: fit-content;
}

.wrapper #user{
    
    display: grid;
    grid-template-areas: 'A C'
                        'B C';
    width: fit-content;
    font-family: 'Quicksand', sans-serif;
}

.wrapper #user p:nth-child(1){
    grid-area: A;
    text-align: right;
    font-size: 1.2rem;
}

.wrapper #user p + p{
    grid-area: B;
    font-size: 1rem;
}

.wrapper #user #avatar{
    grid-area: C;
    display: flex;
    justify-content: right;
}

.wrapper #user #avatar svg:nth-child(1){
    position: relative;
}

.wrapper #user #avatar svg+svg{
    position: absolute;
    
}

