/* font-family: 'Quicksand', sans-serif;
font-family: 'Roboto', sans-serif; */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-size: 62.5%;
    --background-headers: hsl(20,82%,96%);
    --primary-color: hsl(21, 83%, 58%);
    --button-hover:hsl(21, 78%, 42%);
}

html{
    scroll-behavior: smooth;
}

html, body{
    width: 100%;
    height: 100%;
}

body{
    text-align: center;
    background: #FFFFFF;
    font-family: 'Roboto', sans-serif;
}

.wrapper{
    margin-inline: auto;
    padding-inline: 2rem;
    width: min(32.5rem,100%);
}

ul{
    list-style: none;
}

img{
    max-width: 100%;
}

section{
    border-bottom:1px solid #ECECEC;
}
/* ============ NAVIGATION =================== */
nav{
    display: flex;
    height: 7.5rem;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 100;
}

nav button{
    background: none;
    border: none;
    cursor: pointer;
}

nav .wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav#navigation .wrapper h1{
    display:none;
    visibility: hidden;
}

nav .logo img{
    width: 5.5rem;
    border:none;
    border-radius: 0.5rem;
}

nav.scroll{
    background: var(--primary-color);
}

nav.scroll .open-menu svg path {
    stroke: #FFFFFF;
}

nav .open-menu svg path{
    stroke: var(--primary-color);
}

nav .menu, 
nav .close-menu{
    position: fixed;
}

/* ================= MENU ================= */
body.menu-expanded{
    overflow: hidden;
}

body.menu-expanded > :not(nav){
    visibility: hidden;
}

.menu, .close-menu, body.menu-expanded .open-menu{
    opacity: 0;
    visibility: hidden;
}

body.menu-expanded .menu, body.menu-expanded .close-menu{
    opacity: 1;
    visibility: visible;
}

body.menu-expanded .close-menu svg path{
    stroke: var(--primary-color);
}

.menu{
    transform: translateY(100%);
}

body.menu-expanded .menu{
    top: 0;
    left: 0;
    background:#FFFFFF;
    height: 100vh;
    width: 100vw;
    padding-top:7.5rem;
    transition: transform 300ms;
    transform: translateY(0);
}

.menu ul:nth-child(1){
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
}

.menu ul li{
    padding: 2rem 0;
    border: 1px solid #CCCCCC;
    cursor: pointer;
    border-left: 3px solid var(--primary-color);
}

.menu ul li:hover{
    background: var(--background-headers);
}

.menu ul li:active{
    font-weight: 900;
    transform: scale(0.99);
    opacity: 0.7;
}

.menu ul li a{
    text-decoration: none;
    color: #725C5C;
}

body.menu-expanded .logo,
body.menu-expanded button {
    position: relative;
    z-index: 100;
}

body.menu-expanded .logo{
    position: relative;
    z-index: 100;
}

/* ================= TOPO ================= */
header#main-header{
    background-color: var(--background-headers);
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #725C5C;
    padding-block: 1rem;
    width: 100vw;
    padding-top: 8rem;
}

header #content p{
    font-size: 1.2rem;
}

header #content h3{
    font-weight: 400;
    font-style: normal;
    font-size: 2.2rem;
}

#user-settings{
    width: 100vw;
    background-color: var(--background-headers);
    color: #333333;
    border-top: 0.5px solid white;
}

#user-settings .wrapper{
    padding-block: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wrapper #lang{
    display: flex;
    flex-direction: row;
    border: 1px solid #CCCCCC;
    border-radius: 0.3rem;
    width: 9.7rem;
    justify-content: center;
    background-color: var(--background-headers);
    height: fit-content;
}

.wrapper #lang select{
    background: url('assets/dropdown.png');
    background-color: var(--background-headers);
    background-repeat: no-repeat;
    padding-right: 1.5rem;
    background-position-x: 5.5rem;
    background-position-y: center;
    font-family: 'Quicksand', sans-serif;
    font-size: 1.4rem;

    line-height: 1.7rem;
    border: none;
    appearance: none;
    width: fit-content;
}

.wrapper #user{
    
    display: grid;
    grid-template-areas: 'A C'
                        'B C';
    width: fit-content;
    font-family: 'Quicksand', sans-serif;
}

.wrapper #user p:nth-child(1){
    grid-area: A;
    text-align: right;
    font-size: 1.2rem;
}

.wrapper #user p + p{
    grid-area: B;
    font-size: 1rem;
}

.wrapper #user #avatar{
    grid-area: C;
    display: flex;
    justify-content: right;
}

.wrapper #user #avatar svg:nth-child(1){
    position: relative;
}

.wrapper #user #avatar svg+svg{
    position: absolute;
    
}

/* =================== video area======================= */

/* =======header========= */

#presentation header{
    color: var(--primary-color);
    border-bottom: 1px solid var(--background-headers);
    padding-block:1rem;
}

/* ==========buttons=========== */

#presentation header .wrapper h3{
    margin-bottom: 1.5rem;
}

#presentation .wrapper #buttons .button-wrapper{
    display: flex;
    gap: 0.5rem;
    justify-content: center;
}

#presentation .wrapper #buttons .button-wrapper button, #presentation .wrapper #buttons .button-wrapper a:nth-child(1) {
    background: var(--primary-color);
    border: none;
    padding: 0.6rem 1.2rem;
    border-radius: 0.4rem;
    cursor: pointer;
}

#presentation #buttons .button-wrapper button:hover{
    background: var(--button-hover);
}

#presentation .wrapper #buttons .button-wrapper button:active{
    opacity: 0.7;
}

#presentation .wrapper #buttons .button-wrapper #download{
    display: flex;
    width: fit-content;
    align-items: center;
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.875rem;
}

#presentation .wrapper #buttons .button-wrapper #favorite.fav > svg path{
    fill: yellow;
}

#presentation #buttons #cite{
    text-decoration: none;
    color: var(--primary-color);
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5rem;
    text-transform: uppercase;
}

#presentation #buttons #cite:hover{
    color: var(--button-hover);
}

#presentation #buttons #cite:active{
    opacity: 0.7;
}
/* =========== video =========== */

#video #video-wrapper img:nth-child(1){
    position: relative;
    max-width: 28.5rem;
}

#video #video-wrapper #video-content{
    color: #FFFFFF;
    text-align: left;
    background-color: hsla(21,92%,29%,0.5);
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 1;
    font-size: 0.8rem;
    gap:7rem;
    max-width: 28.5rem;
    padding:1.3rem;
} 

#video-content #author{
    display: grid;
    grid-template-areas: "A B";
    align-items: center;
    gap:1rem;
    width: fit-content;
}

#video-content #author img{
    grid-area: A;
    border-radius: 50%;
    width: 3rem;
}



#video-content #author #info{
    display: flex;
    flex-direction: column;
    text-align: left;
    grid-area: B;
    width: fit-content;
    font-size: 0.8rem;
}

/* ========= video details ==========*/

#details {
    width: 100vw;
    font-family: 'Quicksand', sans-serif;
    margin-top: 2rem;
}

#details header{
    background: var(--background-headers);
    color: #725C5C;
    text-align: center;
    padding-left: 1rem;
    font-size: 1.5rem;
}

#details #details-content{
    text-align: left;
    color: #5C5C5C;
    border: 1px solid #ECECEC;
    border-radius: .3rem;
}

#details #details-content p{
    font-size: 1rem;
}

#details #details-content p span, #details #details-content label{
    font-weight: 700;
}

#details #details-content label{
    font-size: 1.2rem;
}

#details #details-content p:nth-child(3){
    margin-bottom: 1rem;
}

#details #details-content #authors{
    margin-bottom: 1rem;
    font-size: 1.2rem;
}

#details #details-content #universities{
    font-size: 0.8rem;
    opacity: 0.7;
    letter-spacing: 0.02rem;
}

/* ======= SUMMARY ============== */
#presentation-summary{
    font-family: 'Quicksand', sans-serif;
    margin-top: 2rem;
    border: 1px solid #ECECEC;
}

#presentation-summary header, #forum header{
    background: var(--background-headers);
    color: #725C5C;
    padding: 1rem 0;
    border-bottom:1px solid #ECECEC;
    text-align: center;
    padding-left: 1rem;
    font-size: 1.5rem;
}

#summary.text-expanded{
    height: 100%;
}


#summary .open-close{
    display: flex;
    justify-content: right;

}

#summary .open-summary{
    position: relative;
    text-decoration: none;
    color: var(--primary-color);
    font-weight: 700;
}
#summary .close-summary{
    position: absolute;
    visibility: hidden;
    text-decoration: none;
    color: var(--primary-color);
    font-weight: 700;
}

#summary p{
    overflow:hidden;
    position: relative;
    max-height: 10.5rem;
    text-align: justify;
    line-height: 1.5rem;
}

#summary p:before {
    content: '...';
    background: #FFFFFF;
    height: 1.5rem;
    width: 1rem;
    position: absolute;
    right:0rem;
    bottom: 0;
}

#summary.text-expanded p:before {
    opacity: 0;
}

#summary.text-expanded p{
    overflow: initial;
    max-height: fit-content;
}

#summary.text-expanded .close-summary{
    visibility: visible;
}

#summary.text-expanded .open-summary{
    visibility: hidden;
}

/* =========== FORUM =========== */

/* ====== before ======== */

#forum #beforeTopic h4{
    color: var(--primary-color);
    padding: 1rem 0 2rem;
    font-size: 1.2rem;
}

#forum #beforeTopic #icons{
    display: flex;
    flex-direction: row;
    gap: 5rem;
    margin-bottom: 3rem;
}

#forum #beforeTopic p{
    color: #595959;
    font-family: 'Quicksand', sans-serif;
}

#forum #beforeTopic button{
    background: linear-gradient(180deg, #FEB254 0%, #F0813D 100%);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12), 0px 2px 2px rgba(0, 0, 0, 0.24);
    border-radius: 4px;
    border: 0;
    display: flex;
    flex-direction: row;
    gap:0.5rem;
    padding: 0.8rem;
    margin: 1.4rem auto;
}

#forum #beforeTopic button p{
    color: #FFFFFF;
}


/* ======= form ========== */

#forum #topicForm p{
    font-family: 'Quicksand', sans-serif;
    color: #5c5c5c;
    padding: 1.5rem 0 2.2rem;
}

#forum #topicForm form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#forum #topicForm form .inputs{
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    text-align: left;
}

#forum #topicForm form .inputs label{
    font-size: 1.4rem;
    font-weight: 700;
    color: var(--primary-color);
}

#forum #topicForm form .inputs input,
#forum #topicForm form .inputs textarea{
    font-size: 1rem;
    font-family: 'Quicksand', sans-serif;
    color: #4d4d4d;
    padding: 1rem;
    border: 1px solid #CCCCCC;
    border-radius: 0.3rem;
}

#forum #topicForm #bottom-bar{
    display: flex;
    width: 100%;
    justify-content: space-between;
    background: #CCCCCC;
    border-radius: 0 0 0.4rem 0.4rem;
    padding: 0;
    height: fit-content;
}

#forum #topicForm #bottom-bar #text-deco{
    display: flex;
    gap: 2rem;
    padding-left: 1rem;
}

#forum #topicForm #bottom-bar #text-deco button{
    border: none;
    background: none;
}

#forum #topicForm #bottom-bar button#send{
    background: linear-gradient(180deg, #FEB154 0%, #F1833E 100%);
    color: #FFFFFF;
    border: 0;
    border-radius: 0 0 0.4rem 0;
    padding: 0.7rem 3rem; 
    font-size: 1.2rem;
    margin: 0;
}

/* ===== after ====== */
#forum #afterForm{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#forum #afterForm #front{
    background: #DDDDDD;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    padding: 3rem 0;
    position: relative;
    width: 100%;
    opacity: 0.9;
}

#forum #afterForm #back{
    position: absolute;
    z-index: -1;
    width: 28.5rem;
    opacity: 0.5;
}


/* ====== replies ========= */

#forum .wrapper .user-topic{
    font-family: 'Quicksand', sans-serif;
    text-align: justify;
}

#forum .wrapper .user-topic h4{
    color: var(--primary-color);
    font-size: 1.4rem;
}

#forum .wrapper .user-topic h4 + p{
    font-size: 0.8rem;
    padding-bottom: 1rem;
}

#forum .wrapper .user-topic p + p{
    font-size: 1rem;
    margin-bottom: 1.2rem;
}

#forum #user-topics .interactions{
    display: flex;
    gap: 1.5rem;
    align-items: center;
}

#forum #user-topics .interactions button{
    border: 0;
    cursor: pointer;
}


#forum #user-topics .interactions button:nth-child(1){
    background: none;
}


#forum #user-topics .interactions button + button{
    background: #ED7839;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12), 0px 2px 2px rgba(0, 0, 0, 0.24);
    border-radius: 0.2rem;
    padding: 0.5rem 0.5rem 0;
}

#forum #user-topics .interactions button.liked svg path,
#forum #user-topics .interactions button.liked svg path{
    fill: yellow;
}

#forum #user-topics .user-topic .interactions p,
#forum #user-topics .user-topic .interactions span{
    font-size: 1rem;
    margin: 0;
}

#form .user-topic{
    overflow: hidden;
}

#forum .user-topic #replies{
    overflow: hidden;
    visibility: hidden;
    height: 0;
}

#forum .user-topic #replies.expanded{
    visibility: visible;
    overflow: initial;
    height: fit-content;
}

#forum #beforeTopic{
    visibility: visible;
    height: fit-content;
}

#forum #beforeTopic.topic-start{
    visibility: hidden;
    height: 0;
}

#forum #topicForm{
    visibility: hidden;
    height: 0;
}

#forum #topicForm.open-form{
    visibility:visible;
    height: fit-content;
}

#forum #topicForm.topic-sent{
    visibility:hidden;
    height: 0;
}

#forum #afterForm{
    visibility: hidden;
    height: 0;
}

#forum #afterForm.topic-sent{
    visibility: visible;
    height: fit-content;
}

.user-topic .interactions #numLikes2{
    visibility:hidden;
    position: absolute;
}

.user-topic .interactions #removeLike2{
    visibility: visible;
    position: relative;

}

.user-topic .interactions #numLikes2.liked{
    visibility:visible;


}

.user-topic .interactions #removeLike2.liked{
    visibility: hidden;

}

.user-topic .interactions #numLikes1{
    visibility:hidden;
    position: absolute;
}

.user-topic .interactions #removeLike1{
    visibility: visible;
    position: relative;

}

.user-topic .interactions #numLikes1.liked{
    visibility:visible;


}

.user-topic .interactions #removeLike1.liked{
    visibility: hidden;

}

.user-topic .interactions #plural{
    visibility: hidden;
}

.user-topic .interactions #plural.liked{
    visibility: visible;
}

#replies{
    padding-top: 1rem;
}

#replies .author-coauthor {
    display: flex;
    flex-direction: column;
    background: #F8F8F8;
    border: 1px solid #E7E7E7;
    text-align: left;
}

#replies .user-comment,
#replies .author-coauthor{
    padding: 1.8rem;
}

#replies .author-coauthor .author-top{
    margin-bottom: 0.5rem;
}

#replies .author-coauthor .author-top,
#replies .author-coauthor .author-tag{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: 700;
    align-items: center;
}

#replies .author-coauthor .author-tag{
    gap:1.5rem;
}

#replies .author-coauthor .author-tag p{
    color: var(--primary-color);
}

#user-topics .user-topic, #replies .user-comment{
    border: 1px solid #E7E7E7;
}

#replies .user-comment p:nth-child(1){
    margin-bottom: 0.5rem;
    font-weight: 700;
}

/* ================ FOOTER ================== */

.footer{
    padding-inline: 2rem;
}

/* ============== MEDIA QUERIES =============== */

@media(min-width:1024px){

    /* reset */
    .wrapper{
        width: initial;
    }

    img{
        max-width: initial;
    }

    nav{
        margin: 0;
        padding: 0;
        visibility: initial;
        display: initial;
        opacity: initial;
        flex-direction: initial;
        position: initial;
        transform: initial;
        background: initial;
        color: initial;
    }
    nav#navigation .wrapper * {
        margin: 0;
        padding: 0;
        visibility: initial;
        display: initial;
        opacity: initial;
        flex-direction: initial;
        position: initial;
        transform: initial;
        background: initial;
        color: initial;
    }

    nav#navigation .close-menu,
    nav#navigation .open-menu,
    nav#navigation .icons {
    display: none;
    }

    /* menu */
    body{
        text-align: center;
        display: grid;
        grid-template-areas:"A B B"
                            "A B B"
                            "A C C";
        height: fit-content;
    }

    .field-a{
        grid-area: A;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    }

    .field-b{
        grid-area: B;
    }

    .field-b, .field-c{
        width: min(114.6rem,100%);
    }

    nav#navigation{
        width: 22rem;
    }

    nav#navigation .wrapper .logo img{
        width: 100%;
    }

    nav#navigation .menu ul {
        display: flex;
        flex-direction: column;
        width: 22rem;
    }

    nav#navigation .menu ul li{
        display: flex;
        align-items: center;
    }

    nav#navigation .menu ul li a{
        font-size: 1.5rem;
        line-height: 1.875rem;
        color: #725C5C;
        padding:0.7rem 2.4rem;
    }

    nav#navigation .wrapper{
        display: flex;
        flex-direction: column;
        margin-left: 0;
        width: fit-content;
        padding: 0;
        width: 22rem;
        text-align: left;
    }

    .web-top{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0;
        margin-inline: auto;
        align-items: center;
        background: var(--background-headers);
        padding: 0.5rem 3.6rem;
    }

    .web-top #main-header{
        padding: 0;
        width: fit-content;
        text-align: justify;
    }

    .web-top #main-header h3{
        font-size: 2.2rem;
    }

    .web-top #main-header p{
        font-size: 1.4rem;
    }

    .web-top #user-settings{
        padding: 0;
        width: fit-content;
    }

    .web-top #user-settings .wrapper{
        gap:3.5rem
    }

    .field-c{
        grid-area: C;
    }

    .footer .wrapper img{
        padding-inline: 0;
        width: 100%;
    }

    #presentation{
        display: grid;
        grid-template-areas: "A A"
                            "B C";
    }

    #presentation header{
        grid-area: A;
    }

    #presentation header h3{
        font-size: 2rem;
    }

    #presentation #video{
        grid-area: B;
    }

    #presentation #details{
        grid-area: C;
        width: 24.2rem;
        margin-top: 0;

    }

    #presentation #details #details-content.wrapper{
        flex-direction: column;
        gap:0
    }

    #presentation .wrapper{
        display: flex;
        flex-direction: row;
        gap: 6.8rem;
    }

    #presentation .wrapper h3{
        text-align: justify;
    }


    #presentation .wrapper #buttons{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #presentation .wrapper #buttons .button-wrapper{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1.7rem;
    }

    #video{
        display: block;
    }

    #video #video-wrapper #video-content.wrapper img{
        position: relative;
        max-width: initial;
        width: 78.3rem;
    }

    #video #video-wrapper #video-content{
        position: absolute;
        max-width: fit-content;
        height: 43.9rem;
        justify-content: space-between;
        padding-bottom: 5.2rem;
    } 

    #video #video-wrapper #video-content h3{
        font-size: 2.4rem;
        width: 76rem;
        padding: 3.2rem;
    }

    #video #video-wrapper #video-content img{
        width: 100%;
    }

    #video #video-wrapper #video-content h2{
        font-size: 3.4rem;
    }

    #video #video-wrapper #video-content h4{
        font-size: 2rem;
    }

    nav#navigation .wrapper h1{
        display:flex;
        align-self: center;
        visibility:visible;
        width: 22rem;
        align-items: center;
        padding: 2.2rem;
        font-size: 3rem;
        height: 6.8rem;
        color: #FFFFFF;
        background: linear-gradient(180deg, #FFB354 0%, #EE7A3A 100%);
    }

    #details{
        width: fit-content;
    }

    #details header{
        text-align: left;
        font-size: 2rem;
    }

    #details #details-content{
        padding: 1.5rem;
        letter-spacing: 0.02rem;
    }

    #details #details-content p{
        font-size: 1.2rem;
        line-height: 1.44rem;
    }
    
    #details #details-content label{
        font-size: 1.4rem;
        line-height: 1.68rem;
        margin-top: 3rem;
    }
    
    #details #details-content p:nth-child(3){
        margin-bottom: 1rem;
    }
    
    #details #details-content #authors{
        margin-bottom: 3rem;
        font-size: 1.4rem;
        line-height: 1.68rem;
    }
    
    #details #details-content #universities{
        font-size: 1rem;
        line-height: 1rem;
        opacity: 0.7;
        letter-spacing: 0.02rem;
    }

    #presentation-summary header, #forum header{
        text-align: left;
        font-size: 2rem;
    }

    #presentation-summary, #forum{
        padding: 0 4.3rem;
    }

    #summary.wrapper p{
        font-size: 1.4rem;
    }

    #summary.wrapper, #forum .wrapper{
        border: 1px solid #ECECEC;
        border-radius: 0.3rem;
        margin-bottom: 3rem;
    }

    #summary.wrapper .open-close a{
        font-size: 1.4rem;
    }

    #forum .wrapper #beforeTopic #icons{
        justify-content: center;
    }

    #forum .wrapper #beforeTopic h4{
        font-size: 1.8rem;
    }

    #forum .wrapper #beforeTopic p{
        font-size: 1.4rem;
    }

    #forum .user-topic{
        padding: 1.7rem 2.4rem;
    }

    #forum .user-topic p{
        font-size: 1.4rem;
    }

}